# Environments
.env
venv/
env/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Data
backend/data/*.csv
backend/data/*.zip
# backend/ml/*.pkl (Uncommented for deployment)

# Notebooks
*.ipynb

# Node / Frontend
node_modules/
.next/
out/
build/
.env*.local

# OS
.DS_Store
Thumbs.db
